.bg-custom {
    background-color: #1B3F61; /* Couleur d'arrière-plan personnalisée */
    width: 100%; /* Largeur à 100% pour s'adapter à l'écran */
    max-width: 160rem; /* Largeur maximale */
    height: auto; /* Hauteur auto pour être responsive */
    min-height: 317.0625rem; /* Hauteur minimale */
  }
  
  .second-zone-container {
    color: #FFF; /* Couleur du texte */
    padding: 2rem 1rem; /* Espacement autour du contenu */
  }
  
  .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
  }
  
  .subtitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
  }
  
  /* Règles pour les écrans plus larges (par exemple, les tablettes et les ordinateurs de bureau) */
  @media (min-width: 768px) {
    .title {
      font-size: 6rem;
    }
    .subtitle {
      font-size: 3rem;
    }
  }
  